.sidebar-title{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
}
.sidebar-items{
    margin-top: 20px;
}
.sidebar-lable-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sidebar-lable-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmarks{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}
.sidebar-lable-container:hover input~ .checkmarks{
    background-color: #ccc;
}
.sidebar-lable-container input:checked ~ .checkmarks{
    background-color: #2196f3;
}
.checkmarks::after{
    content: "";
    position: absolute;
    display: none;
}
.sidebar-lable-container input:checked ~ .checkmarks::after{
    display: block;
}
.sidebar-lable-container .checkmarks::after{
    top: 6.4px;
    left: 6.4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
}