.container{
  font-family: sans-serif;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}
.container img{
  max-width: 300px;
  align-self: center;
}
.btn{
 
  align-self: center;
  border: none;
  background-color: brown;
  color: white;
  padding: 15px 50px;
  font-size: 16px;
  border-radius: 50px;

}